<div class="position-relative container-xl col-12 col-md-8 m-auto mt-5 pb-5">
  <h2 class="col-6 col-3 m-auto mb-4 text-center py-2 bg-info rounded text-white">Ver Juego</h2>
  <a  class="position-absolute" style="right: 10%; top:0%" href="javascript:history.back()"><img src="./assets/images/deshacer.png" height="36" width="36" alt="Botón"></a>
  <form class="col-10 col-md-12 form-group m-auto " [formGroup]="formlogin" >

  <div class="form-group-item" >
    <label class="mb-1 fs-6 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">ID</label>
    <input readonly type="text" id="id_juego" formControlName="id_juego" class="form-control" >
  </div>

  <div class="form-group-item" >
    <label class="mb-1 fs-6 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Nombre</label>
    <input readonly type="text" id="name" formControlName="name" class="form-control" >
  </div>

  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-6" style="font-family:  Arial, Helvetica, sans-serif;">Ruta Foto Principal</label>
    <input readonly type="text"  id="url" formControlName="url"  class="form-control" >

  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-6" style="font-family:  Arial, Helvetica, sans-serif;">Ruta Foto Hexagonal</label>
    <input type="text" readonly id="urlHexa" formControlName="urlHexa" class="form-control" >

  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-6" style="font-family:  Arial, Helvetica, sans-serif;">Descripción</label>
    <textarea class="form-control" readonly type="text" id="description" formControlName="description" rows="3"></textarea>
  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-6" style="font-family:  Arial, Helvetica, sans-serif;">Id Admin</label>
    <input type="text" readonly class="form-control" id="id_admin" formControlName="id_admin" >
  </div>
</form>
</div>
