<section class="ms-2 w-auto ">
  <div class="d-flex-col justify-content-start ">
    <h1 class="py-2 ps-2" style="background-color: lightgrey">Usuarios</h1>
  </div>
  <hr class="col-12">
  <ul class="d-flex" style="list-style: none">
    <li class="col-1">ID</li>
    <li class="col-2">Nombre</li>
    <li class="col-2">Apellidos</li>
    <li class="col-2">Apodo</li>
    <li>Email</li>
  </ul>
  <hr>
  <ul *ngFor="let usuario of usuarios" class="d-flex" style="list-style: none">
    <li class="col-1 d-flex align-items-center">{{usuario.id_user}}</li>
    <li class="col-2 d-flex align-items-center">{{usuario.name}}</li>
    <li class="col-2 d-flex align-items-center">{{usuario.apellidos}}</li>
    <li class="col-2 d-flex align-items-center">{{usuario.username}}</li>
    <li class="col-3 d-flex align-items-center">{{usuario.email}}</li>
    <div class=" justify-content-md-center col">
      <button type="button" [routerLink]="['/Usuario/', 'edit', usuario.id_user  ]" class="btn btn-warning border-secondary" style="margin-left: 2px; "><img style="width:15px; height: 15px" src="./assets/images/lapiz.png"></button>
      <button type="button" (click)="delete(usuario.id_user)" class="btn btn-danger text-white fw-bold" style="margin-left: 2px; ">&#10007;</button>
    </div>
  </ul>
</section>
