.manoClass{
  background-color: #77dd77 ;
  padding: 16px 32px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 15px;
  width: auto;
  margin: auto;
  align-items: center;
}
h1{
  text-shadow: 0.1em 0.1em 0.2em #9fe1fd
}
.colorfila{
  background-color: #9fe1fd;
}
.filas{
  display: flex;
  justify-self: center ;
  justify-content: center;
  flex-direction: column;
  padding-top: 16px;
}

.main{
  height: 700px;
  background: linear-gradient(to right ,#cfeffd , #9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd,#9fe1fd, #cfeffd );

}

@media  screen and (max-width: 500px) {
  img {
    width: 30px;
  }
  .tablero-mobile{
    width: 30px ;
  }
  .mano-mobile{
    width: 25px;
  }
}




