<router-outlet></router-outlet>
<section class="ms-2 " >
  <div class="d-flex align-items-center position-relative " style="background-color: lightgrey;">
    <h1 class="py-2 ps-2 d-flex" style=" justify-self: start">Juegos</h1>
    <button routerLink="crearJuego"  class="btn btn-outline-info d-flex align-items-center ms-4 position-absolute" style="right: 2%" >Crear</button>
  </div>
  <hr class="d-none d-sm-flex">
  <ul class=" d-none d-sm-flex" style="list-style: none">
    <li class="col-1">Id</li>
    <li class="col-2">Nombre</li>
    <li class="col-6 text-center" >descripcion</li>
  </ul>
  <hr class="d-none d-sm-flex">
  <ul *ngFor="let juego of juegos" class="d-sm-flex d-none align-items-center" style="list-style: none">
    <li class="col-1">{{juego.id_juego}}</li>
    <li class="col-2">{{juego.name}}</li>
    <li class="col-6 ">{{juego.description}}</li>
    <div class="col-md-3 d-flex align-items-center justify-content-center" >
      <button type="button" [routerLink]="['/Juego/', 'edit', juego.id_juego]" class="btn btn-outline-warning border-secondary " style="margin-left: 2px; "><img style="width:15px; height: 15px" src="./assets/images/lapiz.png"></button>
      <button type="button" (click)="delete(juego.id_juego)" class="btn btn-danger text-white fw-bold border-secondary" style="margin-left: 2px; ">&#10007;</button>
    </div>
  </ul>
  <ul *ngFor="let juego of juegos" class="d-flex-col d-sm-none align-items-center mt-3 me-2 border border-info" style="list-style: none">
    <li class="col-12 d-flex justify-content-center my-1"><strong>ID:&nbsp;</strong>{{juego.id_juego}}</li>
    <li class="col-12 d-flex justify-content-center my-1"><strong>Nombre:&nbsp;</strong>{{juego.name}}</li>
    <li class="col-12 text-center my-1"><strong>Descripcion:&nbsp;</strong>{{juego.description}}</li>
    <div class="col-md-3 d-flex align-items-center justify-content-center my-2" >
      <button type="button" [routerLink]="['/Juego/', 'edit', juego.id_juego]" class="btn btn-outline-warning border-secondary " style="margin-left: 2px; "><img style="width:15px; height: 15px" src="./assets/images/lapiz.png"></button>
      <button type="button" (click)="delete(juego.id_juego)" class="btn btn-danger text-white fw-bold border-secondary" style="margin-left: 2px; ">&#10007;</button>
    </div>
  </ul>
</section>
