
<section class="ms-2 " >
  <div class="d-flex align-items-center position-relative " style="background-color: lightgrey;">
    <h1 class="py-2 ps-2 d-flex align-items-center mb-0" >Juegos</h1>
    <button routerLink="crearJuego"  class="btn btn-info text-white d-flex align-items-center ms-4 position-absolute" style="right: 2%" >Crear</button>
  </div>
  <hr class="d-none d-sm-flex">
  <ul class=" d-none d-sm-flex" style="list-style: none">
    <li class="col-1">Id</li>
    <li class="col-2">Nombre</li>
    <li class="col-6 text-center" >descripcion</li>
  </ul>
  <hr class="d-none d-sm-flex">
  <ul *ngFor="let juego of juegos" class="d-sm-flex d-none align-items-center" style="list-style: none">
    <li class="col-1">{{juego.id_juego}}</li>
    <li class="col-2">{{juego.name}}</li>
    <li class="col-6 ">{{juego.description}}</li>
    <div class="d-flex-column d-md-flex align-items-center justify-content-center ms-2" >
      <button mat-mini-fab type="button" [routerLink]="['/Juego/', 'details', juego.id_juego]" class="btn btn-outline-success border-secondary mx-1 my-1 col-md-3  d-flex justify-content-center " style="margin-left: 2px;"><img style="width:15px; height: 15px" src="./assets/images/buscar.png"></button>
      <button mat-mini-fab type="button" [routerLink]="['/Juego/', 'edit', juego.id_juego]" class="btn btn-outline-warning border-secondary mx-1 my-1 d-flex col-md-3 justify-content-center" ><img style="width:15px; height: 15px" src="./assets/images/lapiz.png"></button>
      <button mat-mini-fab type="button" (click)="delete(juego.id_juego)" class="btn btn-danger text-secondary fw-bold border-secondary mx-1 my-1 d-flex col-md-3 justify-content-center" style="margin-left: 2px; ">&#10007;</button>
    </div>
  </ul>
  <ul *ngFor="let juego of juegos" class="d-flex-col d-sm-none align-items-center mt-3 me-2 border border-info p-0 px-2" style="list-style: none">
    <li class="col-12 d-flex justify-content-center my-1"><strong>ID:&nbsp;</strong>{{juego.id_juego}}</li>
    <li class="col-12 d-flex justify-content-center my-1"><strong>Nombre:&nbsp;</strong>{{juego.name}}</li>
    <li class="col-12 text-center my-1"><strong>Descripcion:&nbsp;</strong>{{juego.description}}</li>
    <div class=" col-md-3 d-flex align-items-center justify-content-center my-2" >
      <button  mat-mini-fab type="button" [routerLink]="['/Juego/', 'details', juego.id_juego]" class="btn btn-success border-secondary mx-1" style="margin-left: 2px; margin-right: 8px "><img style="width:15px; height: 15px" src="./assets/images/buscar.png"></button>
      <button mat-mini-fab type="button" [routerLink]="['/Juego/', 'edit', juego.id_juego]" class="btn btn-outline-warning border-secondary mx-1" style="margin-left: 2px; margin-right: 8px "><img style="width:15px; height: 15px" src="./assets/images/lapiz.png"></button>
      <button mat-mini-fab type="button" (click)="delete(juego.id_juego)" class="btn btn-danger text-secondary fw-bold border-secondary mx-1" style="margin-left: 2px; margin-right: 8px ">&#10007;</button>
    </div>
  </ul>
</section>
