<header>
  <div class="container-xl py-3 d-flex align-items-center justify-content-between">

    <div *ngIf="!isLoggedIn ">
      <a routerLink="inicio" >
        <img class="img-fluid " src="./assets/images/logo.png" >
      </a>
    </div>
    <div *ngIf="isLoggedIn ">
      <a routerLink="logueado" >
        <img class="img-fluid " src="./assets/images/logo.png" >
      </a>
    </div>
    <div class="aligns-center">
    <div class=" justify-content-end d-flex aligns-center">
    <div class=" justify-content-end d-none d-sm-flex aligns-center" *ngIf="!isLoggedIn; else logueado">
      <div>
        <button  type="button" class="btn btn-info text-center text-decoration-none text-white  fs-4 " data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" style="font-family:  Arial, Helvetica, sans-serif;">Inicio</button>
        <ul class="dropdown-menu pt-1 " aria-labelledby="dropdownMenuButton1 ">
          <li class=" d-flex py-2 col justify-content-center rounded-top">
            <form  name="form"
                   (ngSubmit)="f.form.valid && enviar()"
                   #f="ngForm"
                   novalidate>
              <div class="d-flex justify-content-center" style="width: 100%;">
                <img class="img-fluid d-flex " src="./assets/images/logo.png" style="width: 50% ;">
              </div>
              <div class="form-group d-grid gap-2">
                <div class="form-group mx-2">
                  <label class="mb-1 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Usuario</label>
                  <input id="usernameLogin"
                         type="text"
                         class="form-control"
                         name="usernameLogin"
                         [(ngModel)]="form.usernameLogin"
                         required
                         #usernameLogin="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && usernameLogin.errors }" placeholder="Nick">
                  <div *ngIf="usernameLogin.errors && f.touched" class="invalid-feedback">
                    El username es requerido
                  </div>
                </div>

                <div  class="form-group mx-2">
                  <label class="mb-1 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Contraseña</label>
                  <input id="passwordLogin"
                         type="password"
                         class="form-control"
                         name="passwordLogin"
                         [(ngModel)]="form.passwordLogin"
                         required
                         minlength="6"
                         #passwordLogin="ngModel"
                         [ngClass]="{ 'is-invalid': f.submitted && passwordLogin.errors }" placeholder="Contraseña">
                  <div *ngIf="passwordLogin.errors && f.touched" class="invalid-feedback">
                    <div *ngIf="passwordLogin.errors['required']">La password es requerida</div>
                    <div *ngIf="passwordLogin.errors['minlength']">
                      La password debe ser de al menos 6 caracteres
                    </div>
                  </div>
                </div>


                <button type="submit"  class="btn btn-info text-center d-flex justify-content-center m-auto" data-bs-target="Modallogin" style="font-family:  Arial, Helvetica, sans-serif;"><a class="text-white text-center text-decoration-none" >Aceptar</a></button>

              </div>
              <div  *ngIf="isLoginFailed"><div id="alertlogin" class=" mx-2 mt-2 alert alert-danger justify-content-center " role="alert">  Nick o contraseña incorrecto</div></div>
            </form>
            </li>
        </ul>
      </div>
      <button class="btn btn-info ms-3 "><a routerLink="crear" routerLinkActive="active"  class="text-white text-decoration-none fs-4 "style="font-family: Arial, Helvetica, sans-serif;" >Registrarse</a></button>
    </div>
    <ng-template #logueado>
      <div class="dropdown d-none d-sm-flex justify-content-center">
        <p class="text-center align-self-center fs-5 mb-0 stroke dropdown-toggle" id="dropdownMenuButton2" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #00ecce; ">{{nombre}}</p>
        <ul class="dropdown-menu pt-0 " aria-labelledby="dropdownMenuButton2 " style="width: 90px">
          <li  class="bg-white d-flex py-1 rounded justify-content-evenly " >
            <button  type="button" [routerLink]="['/usuario/', 'details', getid() ]" class="border-0 bg-white mt-1  d-flex-col justify-content-center" style="width:35px; height: 35px" ><img style="width:25px; height: 25px" src="../../../../../../assets/images/ver-detalle.png"></button>
            <button  type="button" [routerLink]="['/usuario/', 'edit', getid()  ]" class="border-0 bg-white mt-1  d-flex-col justify-content-center" style="width:35px; height: 35px" ><img style="width:30px; height: 30px" src="../../../../../../assets/images/editar-usuario.png"></button>
          </li>
        </ul>
      </div>
      <div class="d-none d-sm-flex align-items-center mx-3"><div type="button" class="d-flex justify-content-center align-items-center" (click)="logout()" style="width: 50px; height: 50px; clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);"><img style="width: 28px;" src="./assets/images/logout.png"></div></div>
      <div class="d-none d-sm-flex me-3 align-items-center" *ngIf="roles.includes('ROL_ADMIN')"><a routerLink="admin"> <img style="width: 36px" src="./assets/images/admin.png"></a></div>
    </ng-template>
    <div class="dropdown d-sm-none d-flex">
      <img src="./assets/images/hamburguesa.png" type="button" class="me-3 dropdown-toggle" aria-expanded="true"   id="dropdownMenuButton1" data-bs-toggle="dropdown" style="width: 32px;">
      <ul class="dropdown-menu bg-dark pt-0 " aria-labelledby="dropdownMenuButton1 ">
        <li  class="bg-white d-flex py-2 col justify-content-around rounded-top " *ngIf="!isLoggedIn;else registrado">
          <button type="button" class="btn btn-info text-white text-decoration-none  font-weight-s p-0 pe-1 ps-1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family:  Arial, Helvetica, sans-serif;">Inicio</button>
          <button class="btn text-white p-0 pe-1 ps-1 btn-info "><a class="text-decoration-none text-white font-weight-s p-0 pe-1 ps-1" routerLink="crear" style="font-family:  Arial, Helvetica, sans-serif;">Registrarse</a></button>
        </li>
        <ng-template #registrado>
        <li class=" bg-white col py-2  ">
          <div class="dropdown d-sm-none d-flex justify-content-center" id="dropdownUsu">
            <p class="text-center align-self-center fs-5 mb-0 stroke dropdown" id="dropdownMenuButton3"  type="button" data-mdb-toggle="dropdown" aria-expanded="false"style="color: #00ecce; ">{{nombre}}</p>
            <ul class="dropdown-menu pt-0 desp" aria-labelledby="dropdownMenuButton3 " style="width: 90px">
              <li  class="bg-white d-flex py-1 rounded justify-content-evenly " >
                <button  type="button" [routerLink]="['/usuario/', 'details', getid() ]" class="border-0 bg-white   d-flex-col justify-content-center" style="width:35px; height: 35px" ><img style="width:25px; height: 25px" src="../../../../../../assets/images/ver-detalle.png"></button>
                <button  type="button" [routerLink]="['/usuario/', 'edit', getid()  ]" class="border-0 bg-white   d-flex-col justify-content-center" style="width:35px; height: 35px" ><img style="width:30px; height: 30px" src="../../../../../../assets/images/editar-usuario.png"></button>
              </li>
            </ul>
          </div>
          <div class="d-flex justify-content-evenly mt-2">
            <div class="d-flex d-sm-none align-items-center mx-3 "><div type="button" class="d-flex justify-content-center align-items-center" (click)="logout()" style="width: 50px; height: 50px; clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);"><img style="width: 28px;" src="./assets/images/logout.png"></div></div>
            <div class="d-flex d-sm-none me-3 align-items-center" *ngIf="roles.includes('ROL_ADMIN')"><a routerLink="admin"> <img style="width: 36px" src="./assets/images/admin.png"></a></div>
          </div>
        </li>
        </ng-template>

        <div class="border border-dark mb-2" ></div>
        <li class=" pt-2">
          <a class="text-white text-decoration-none d-flex justify-content-center" style="font-family:  Arial, Helvetica, sans-serif;" href="">Contacta US</a>
          <a class="text-white text-decoration-none d-flex justify-content-center" style="font-family:  Arial, Helvetica, sans-serif;" href="">Politica privacidad</a>
          <a class="text-white text-decoration-none d-flex justify-content-center" style="font-family:  Arial, Helvetica, sans-serif;" href="">Sobre nosotros</a>
        </li>
        <li>
          <p class="text-white text-center mb-2 mt-3 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Siguenos:</p>
        </li>
        <li class="d-flex justify-content-center pb-2">
          <a href="https://www.instagram.com/"><img src="./assets/images/instagram.png" style="width: 24px;"></a>
          <a href="https://www.facebook.com/"><img class="mx-2"src="./assets/images/facebook.png" style="width: 24px;"></a>
          <a href="https://twitter.com/?lang=es"><img src="./assets/images/twitter.png" style="width: 24px;"></a>
        </li>
        <li>
          <p class="text-white row justify-content-center mt-2" style="font-family:  Arial, Helvetica, sans-serif;">Tablero&go</p>
        </li>
      </ul>
    </div>

  </div>

  </div>
  </div>
  <div class="mb-1 linea"></div>
  <div class="linea"></div>
</header>

<div class="modal fade " id="exampleModal" tabindex="-1">
  <div class="modal-dialog  ">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100" >
          <img class="img-fluid d-flex " src="./assets/images/logo.png" style="width: 30% ;">
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">

        <form  name="form"
               (ngSubmit)="f.form.valid && enviar()"
               #f="ngForm"
               novalidate >

          <div class="form-group d-grid gap-2">
            <div class="form-group mx-2">
              <label class="mb-1 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Usuario</label>
              <input id="usernameLogin"
                     type="text"
                     class="form-control"
                     name="usernameLogin"
                     [(ngModel)]="form.usernameLogin"
                     required
                     #usernameLogin="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && usernameLogin.errors }" placeholder="Nick">
              <div *ngIf="usernameLogin.errors && f.touched" class="invalid-feedback">
                El username es requerido
              </div>
            </div>

            <div  class="form-group mx-2">
              <label class="mb-1 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Contraseña</label>
              <input id="passwordLogin"
                     type="password"
                     class="form-control"
                     name="passwordLogin"
                     [(ngModel)]="form.passwordLogin"
                     required
                     minlength="6"
                     #passwordLogin="ngModel"
                     [ngClass]="{ 'is-invalid': f.submitted && passwordLogin.errors }" placeholder="Contraseña">
              <div *ngIf="passwordLogin.errors && f.touched" class="invalid-feedback">
                <div *ngIf="passwordLogin.errors['required']">La password es requerida</div>
                <div *ngIf="passwordLogin.errors['minlength']">
                  La password debe ser de al menos 6 caracteres
                </div>
              </div>
            </div>


            <button type="submit"  class="btn btn-info text-center d-flex justify-content-center m-auto" style="font-family:  Arial, Helvetica, sans-serif;"><a class="text-white text-center text-decoration-none" >Aceptar</a></button>
            <div  class="modalLogin mt-2 "></div>
          </div>
        </form>
        <div  *ngIf="isLoginFailed"><div class=" mx-2 alert alert-danger justify-content-center " role="alert">  Nick o contraseña incorrecto</div></div>
    </div>
  </div>
</div>
</div>




