header{
  background-color: white;
}
.linea{
  border: solid 1px;
 border-color: black;
}
.stroke{
  -webkit-text-stroke: 1px #0dcaf0;
}
.dropdown:hover>.desp{
  display: block;
  margin-top: 24px;
}

@media screen  and (max-width: 500px){
  .disminuir{
    width: 150px;
  }
}

