<header>
  <div class="container-xl py-3 d-flex align-items-center justify-content-between">
    <a routerLink="admin" >
      <img class="img-fluid " src="./assets/images/logo.png" >
    </a>
    <div class=" justify-content-end d-none d-sm-flex">
      <div>
        <button  type="button" class="btn btn-info text-center text-decoration-none text-white pe-3 ps-3 fs-4 " data-bs-toggle="dropdown" aria-expanded="false"  style="font-family:  Arial, Helvetica, sans-serif;">Inicio</button>
        <ul class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton1 ">
          <li class=" d-flex py-2 col justify-content-center rounded-top">
            <form>
              <div class="d-flex justify-content-center" style="width: 100%;">
                <img class="img-fluid d-flex " src="./assets/images/logo.png" style="width: 50% ;">
              </div>
              <div class="form-group d-grid gap-2">
                <div class="form-group mx-2">
                  <label class="mb-1 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Usuario</label>
                  <input type="text" class="form-control" placeholder="email">
                </div>
                <div  class="form-group mx-2">
                  <label class="mb-1 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Contraseña</label>
                  <input type="password" class="form-control" placeholder="contraseña">
                </div>
                <div class="form-check  ms-2">
                  <input type="checkbox" class="form-check-input" >
                  <label class="form-check-label" style="font-family:  Arial, Helvetica, sans-serif;" >Recordar contraseña</label>
                </div>
                <button type="submit"  class="btn btn-info text-center d-flex justify-content-center m-auto" style="font-family:  Arial, Helvetica, sans-serif;"><a class="text-white text-center text-decoration-none" routerLink="inicio" routerLinkActive="active">Aceptar</a></button>
              </div>
            </form>
          </li>
        </ul>
      </div>
      <button class="btn btn-info ms-3 "><a routerLink="crear" routerLinkActive="active"  class="text-white text-decoration-none fs-4 "style="font-family: Arial, Helvetica, sans-serif;" >Registrarse</a></button>
    </div>
    <div class="dropdown d-sm-none d-flex">
      <img src="./assets/images/hamburguesa.png" type="button" class="me-3 dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 32px;">
      <ul class="dropdown-menu bg-dark pt-0 " aria-labelledby="dropdownMenuButton1 ">
        <li class="bg-white d-flex py-2 col justify-content-around rounded-top">
          <button type="button" class="btn btn-info text-decoration-none text-dark font-weight-s p-0 pe-1 ps-1" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family:  Arial, Helvetica, sans-serif;">Inicio</button>
          <button class="btn text-white p-0 pe-1 ps-1 btn-info "><a class="text-decoration-none text-dark font-weight-s p-0 pe-1 ps-1" href="#" style="font-family:  Arial, Helvetica, sans-serif;">Registrarse</a></button>
        </li>
        <div class="border border-dark mb-2" ></div>
        <li class=" pt-2">
          <a class="text-white text-decoration-none d-flex justify-content-center" style="font-family:  Arial, Helvetica, sans-serif;" href="">Contacta US</a>
          <a class="text-white text-decoration-none d-flex justify-content-center" style="font-family:  Arial, Helvetica, sans-serif;" href="">Politica privacidad</a>
          <a class="text-white text-decoration-none d-flex justify-content-center" style="font-family:  Arial, Helvetica, sans-serif;" href="">Sobre nosotros</a>
        </li>
        <li>
          <p class="text-white text-center mb-2 mt-3 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Siguenos:</p>
        </li>
        <li class="d-flex justify-content-center pb-2">
          <a href="https://www.instagram.com/"><img src="./assets/images/instagram.png" style="width: 24px;"></a>
          <a href="https://www.facebook.com/"><img class="mx-2"src="./assets/images/facebook.png" style="width: 24px;"></a>
          <a href="https://twitter.com/?lang=es"><img src="./assets/images/twitter.png" style="width: 24px;"></a>
        </li>
        <li>
          <p class="text-white row justify-content-center mt-2" style="font-family:  Arial, Helvetica, sans-serif;">Tablero&go</p>
        </li>
      </ul>
    </div>

  </div>
  <div class="mb-1 linea"></div>
  <div class="linea"></div>
</header>

<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100" >
          <img class="img-fluid d-flex " src="./assets/images/logo.png" style="width: 30% ;">
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group  d-grid gap-2">
            <div class="form-group mx-2">
              <label class="fw-bolder" style=" font-family:  Arial, Helvetica, sans-serif;">Usuario_interface</label>
              <input type="text" class="form-control" placeholder="email">
            </div>
            <div  class="form-group mx-2">
              <label class="fw-bolder"  style=" font-family:  Arial, Helvetica, sans-serif;">Contraseña</label>
              <input type="password" class="form-control" placeholder="contraseña">
            </div>
            <div class="form-check  ms-2">
              <input type="checkbox" class="form-check-input" >
              <label class="form-check-label" style="font-family:  Arial, Helvetica, sans-serif;">Recordar contraseña</label>
            </div>
      </div>
        </form>
      <div class="modal-footer">
        <button type="submit" class="btn btn-info d-flex justify-content-center m-auto" data-bs-dismiss="modal" style="font-family:  Arial, Helvetica, sans-serif;"><a class="text-white text-center text-decoration-none " href="./registrado.html">Aceptar</a></button>
      </div>
    </div>
  </div>
</div>

</div>
