<div class="position-relative container-xl">
<h2 class="w-25 m-auto mt-4 border border-info rounded text-center">Crear Usuario</h2>
<a  class="position-absolute" style="right: 10%; top:0%" href="javascript:history.back()"><img src="./assets/images/deshacer.png" height="36" width="36" alt="Botón"></a>
<form class=" col-sm-8 col-md-10 col-10  p-5 pb-1 d-grid gap-3 m-auto form-group " [formGroup]="formlogin" (ngSubmit)="enviar()">
  <div class="form-group-item" >
    <label class="mb-1 fs-5 fw-bolder" style="font-family:  Arial, Helvetica, sans-serif;">Nombre</label>
    <input   type="text" id="name" formControlName="name" class="form-control" placeholder="Introduzca su Nombre">
    <span class="form-text text-danger"
          *ngIf="formlogin.controls['name'].errors &&
                            formlogin.controls['name'].touched">
                        No puede estar vacío
                    </span>
  </div>
  <div class="form-group-item">
    <label class="mb-1 fw-bolder form-group-item fs-5 "  style=" font-family:  Arial, Helvetica, sans-serif;">Apellidos</label>
    <input type="text"  id="apellidos" formControlName="apellidos" class="form-control" placeholder="Introduzca su/sus Apellidos">
    <span class="form-text text-danger"
          *ngIf="formlogin.controls['apellidos'].errors &&
                            formlogin.controls['apellidos'].touched">
                        No puede estar vacío y debe tener más de 5 caracteres
                    </span>
  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-5 "  style=" font-family:  Arial, Helvetica, sans-serif;">Telefono</label>
    <input type="text" id="telefono"  formControlName="telefono" class="form-control" placeholder="Introduzca su número de telefono">
    <span class="form-text text-danger"
          *ngIf="formlogin.controls['telefono'].errors &&
                            formlogin.controls['telefono'].touched">
                        No puede estar vacío y deber ser un telefono español, 9 digitos
                    </span>
  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-5"   style="font-family:  Arial, Helvetica, sans-serif;">Correo electronico</label>
    <input type="email" id="email" formControlName="email" class="form-control" aria-describedby="emailHelp" placeholder="Introduzca su Email">
    <span class="form-text text-danger"
          *ngIf="formlogin.controls['email'].errors &&
                            formlogin.controls['email'].touched">
                         Deberia ser un email valido, por ejemplo: nombre@dominio.extension
                    </span>

  </div>
  <div class="form-group-item position-relative">
    <label class="mb-1 fw-bolder fs-5 col-12" style="font-family:  Arial, Helvetica, sans-serif;">Contraseña</label>

      <input type="password"  id="password" formControlName="password"  class="form-control" placeholder="Introduzca contraseña">
      <img  class="position-absolute align-self-center d-none d-sm-flex" (click)="mostrar()" style=" width: 26px; right: 4%; top: 30px; " src="./assets/images/ojo.png">

    <span class="form-text text-danger"
          *ngIf="formlogin.controls['password'].errors &&
                            formlogin.controls['password'].touched">
                        La contraseña debe tener mínimo 6 caracteres y llevar una minúscula, una mayúscula y un número
                    </span>

  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-5" style="font-family:  Arial, Helvetica, sans-serif;">Repita Contraseña</label>
    <input type="password" id="repeat_password" formControlName="repeat_password" class="form-control" placeholder="Contraseña">
    <span class="form-text text-danger"
          *ngIf="formlogin.controls['repeat_password'].errors &&
                            formlogin.controls['repeat_password'].touched">
                        No puede estar vacío
                    </span>
    <span class="form-text text-danger"
          *ngIf="  distintas(this.formlogin.value['password'],  this.formlogin.value['repeat_password']) &&
                            formlogin.controls['repeat_password'].dirty"><br>
                        Las contraseñas tienen que ser iguales
                    </span>

  </div>
  <div class="form-group-item ">
    <label class="mb-1 fw-bolder fs-5" style="font-family:  Arial, Helvetica, sans-serif;">Nick</label>
    <input  type="text" id="username" formControlName="username" class="form-control" placeholder="Player Name">
    <span class="form-text text-danger"
          *ngIf="this.formlogin.controls['username'].errors &&
                            formlogin.controls['username'].touched">
                        No puede estar vacío y debe tener más de 5 caracteres
                    </span>
  </div>

  <div class="d-flex justify-content-center my-3" ><button type="submit" [disabled]="!formlogin.valid" class="btn btn-primary fs-4 " style=" font-family:  Arial, Helvetica, sans-serif;">Aceptar</button></div>
</form>
</div>

<div class="modal" id="modalError" style="display:none;" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex justify-content-center w-100" >
          <img class="img-fluid d-flex " src="./assets/images/logo.png" style="width: 30% ;">
        </div>
        <button type="button" class="btn-close" (click)="cerrar()" aria-label="Close"></button>
      </div>
      <div class="modal-body fw-bold">
        <h3 >{{error}}</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info text-white" (click)="cerrar()">Close</button>
      </div>
    </div>
  </div>
</div>
