
<main class="container-xl ">
  <h1 class="d-flex justify-content-center mt-3">Nuestros Juegos</h1>
  <div class="d-flex-col justify-content-center mb-5">
    <img src="./images/galaxia_prohibida.png" class="d-flex justify-content-center my-3 m-auto" style="width: 80%; ">
    <p class="d-flex justify-content-center  text-center fs-sm-4 fs-md-3 fs-lg-2 fw-bolder" >La Galaxia U-128 esta a punto de desaparecer,<br>¿Seréis capaces de conseguir las gemas antes de que llegue el meteorito?</p>
  </div>
  <div class="d-flex-col justify-content-center">
    <img src="./images/sushi.png" class="d-flex justify-content-center my-3 m-auto" style="width: 80%; ">
    <p class="d-flex justify-content-center text-center fs-sm-4 fs-md-3 fs-lg-2 fw-bolder" >SUSHIIIII!!! <br>
      Te gusta el sushi y los juegos de mesa, pues este es tu sitio, intenta <br>
      hacerte con mas puntos que tus rivales y sobre todo <br>
      no te olvides del postre. </p>
  </div>
</main>
