<main class="container-xl">
  <h1 class="d-flex justify-content-center mt-3">Nuestros Juegos</h1>
<div class=" d-flex-col d-sm-flex justify-content-evenly"   *ngIf="noLogue(); else siLogue;"  >
  <div class="d-flex-col col-12 col-sm-6  mb-5" *ngFor="let juego of juegos" >
    <img src="{{juego.url}}" class=" d-flex my-3 m-auto col-10"  >
    <p class=" m-auto col-12 col-sm-10 text-center fs-sm-4 fs-md-3 fs-lg-2 fw-bolder" >{{juego.description}}</p>
  </div>

</div>
  <ng-template #siLogue>
  <div class="container-xl ">
    <div class="my-3 d-flex justify-content-between ">
      <div class="d-sm-flex d-none me-5 ">
        <button  type="button" class=" fs-4 px-5 btn btn-info text-decoration-none text-center text-white "   style="font-family:  Arial, Helvetica, sans-serif;">Categoria</button>
      </div>
      <div class="mx-2 input-group mx-5 mx-sm-2 mx-md-5">
        <input type="text" class="form-control position-relative" style="height: 30px; font-family:  Arial, Helvetica, sans-serif;" aria-label="" aria-describedby="basic-addon1"  >
        <div class="input-group-prepend">
          <button class="bg-secondary border-success" ><img src="./assets/images/lupa.png" style="width: 24px;"> </button>
        </div>
      </div>
      <div class="d-sm-flex d-none  ms-5 ">
        <button  type="button" class=" fs-4 px-5 btn btn-info text-decoration-none text-white text-center"   style="font-family:  Arial, Helvetica, sans-serif;">Participantes</button>
      </div>
    </div>
    <div  class="d-flex-row  my-2 rounded p-4 border-top border  border-primary w-100" style="background-color: #9fe1fd" >
      <div class="d-flex justify-content-around" >
        <div class="col-3" *ngFor="let juego of juegos">
          <a  routerLink="juego2" >
            <img src="{{juego.urlHexa}}" class="w-100 h-auto d-inline-block" style="clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);">
          </a>
        </div>
      </div>
    </div>
  </div>
  </ng-template>
</main>
