<section class="ms-2  ">
  <div class="d-flex align-items-center position-relative " style="background-color: lightgrey;">
    <h1 class="py-2 ps-2 d-flex align-items-center mb-0" >Usuarios</h1>
    <button routerLink="crearUsuario"  class="btn btn-info text-white d-flex align-items-center ms-4 position-absolute" style="right: 2%" >Crear</button>
  </div>
  <hr class="d-none d-md-flex">
  <ul class="d-none d-md-flex" style="list-style: none">
    <li class="col-1">ID</li>
    <li class="col-2">Nombre</li>
    <li class="col-2">Apodo</li>
    <li>Email</li>
  </ul>
  <hr class="d-none d-md-flex">
  <ul *ngFor="let usuario of usuarios" class="d-none d-md-flex align-items-center" style="list-style: none">
    <li class="col-1 d-flex align-items-center">{{usuario.id_user}}</li>
    <li class="col-2 d-flex align-items-center">{{usuario.name}}</li>
    <li class="col-2 d-flex align-items-center">{{usuario.username}}</li>
    <li class="col-4 d-flex align-items-center">{{usuario.email}}</li>
    <div class="d-flex-column d-md-flex align-items-center justify-content-center">
      <button  mat-mini-fab type="button" [routerLink]="['/usuario/', 'details', usuario.id_user]" class="btn btn-outline-success border-secondary mx-1 my-1 col-l-12  d-flex justify-content-center" ><img style="width:15px; height: 15px" src="../../../../../../assets/images/buscar.png"></button>
      <button mat-mini-fab type="button" [routerLink]="['/usuario/', 'edit', usuario.id_user  ]" class="btn btn-outline-warning border-secondary mx-1 my-1 d-flex col-l-12 justify-content-center" ><img style="width:15px; height: 15px" src="../../../../../../assets/images/lapiz.png"></button>
      <button mat-mini-fab type="button" (click)="delete(usuario.id_user)" class="btn btn-danger text-secondary fw-bold border-secondary mx-1 my-1 d-flex col-l-12 justify-content-center"  >&#10007;</button>
    </div>
  </ul>
  <ul *ngFor="let usuario of usuarios" class="d-flex-column d-md-none align-items-center mt-3 me-2 border border-info rounded p-0 px-2" style="list-style: none">
    <li class="col-12 d-flex align-items-center justify-content-center my-1"><strong>ID:&nbsp;</strong>{{usuario.id_user}}</li>
    <li class="col-12 d-flex align-items-center justify-content-center my-1"><strong>Nombre:&nbsp;</strong>{{usuario.name}}</li>
    <li class="col-12 d-flex align-items-center justify-content-center my-1"><strong>Nick:&nbsp;</strong>{{usuario.username}}</li>
    <li class="col-12 d-flex align-items-center justify-content-center my-1 text-break"><strong>Email:&nbsp;</strong>{{usuario.email}}</li>
    <div class=" col-md-3 d-flex align-items-center justify-content-center my-2">
      <button  mat-mini-fab type="button" [routerLink]="['/usuario/', 'details', usuario.id_user]" class="btn btn-success border-secondary mx-1" style="margin-left: 2px; margin-right: 8px "><img style="width:15px; height: 15px" src="../../../../../../assets/images/buscar.png"></button>
      <button mat-mini-fab type="button" [routerLink]="['/usuario/', 'edit', usuario.id_user  ]" class="btn btn-outline-warning border-secondary" style="margin-left: 2px; margin-right: 8px "><img style="width:15px; height: 15px" src="../../../../../../assets/images/lapiz.png"></button>
      <button mat-mini-fab type="button" (click)="delete(usuario.id_user)"  class="btn btn-danger fw-bold border-secondary" ><div style="color: black">&#10007;</div></button>
    </div>
  </ul>
</section>
