<div class="container-xl d-flex d-md-flex  mt-2 w-100">
  <aside style="background-color: #9fe1fd ; height: 600px">
    <h1 class="pt-4 ms-2">Menú</h1>
    <ul class="list-group mx-2" >
      <a routerLink="juegos" routerLinkActive="active" class="list-group-item list-group-item-action list-group-item-info text-center">Juegos</a>
      <a routerLink="usuarios" routerLinkActive="active" class="list-group-item  list-group-item-action list-group-item-info text-center">Usuarios</a>
      </ul>
    </aside>
  <div class="w-auto">
<router-outlet ></router-outlet>
  </div>
</div>
